$white                : #ffffff;
$black                : #1A1A1A;

$green1               : #00C172;
$green2               : #00B560;
$green3               : #009657;
$green4               : #016243;

$red                  : #BE4141;

$lightest-grey        : #FBFBFB;
$light-grey           : #F7F7F7;
$grey                 : #EFEFEF;

$action               : $green1;
$disabled             : #d1d1d1;

$body-color           : $black;
$body-bg              : $lightest-grey;

$border-color         : #d7d7d8;
$border-radius        : 12px;

$link-color           : $black !default;
$link-hover-color     : $green1 !default;
$link-decoration      : none !default;
$link-hover-decoration: underline !default;

$transition-base      : 0.3s;

$grid-breakpoints: (
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1440px
) !default;

$container-max-widths: (
  // xs: 320px,
  xs: 100%,
  sm: 100%,
  md: 100%,
  lg: 720px,
  xl: 960px,
  hd: 1280px,
) !default;


$font-weight          : 400;
$font-weight-bolder   : 500;
$font-weight-bold     : 700;

$dt-font-weight:      $font-weight-bold !default;

$line-height          : 1.6;
$line-height-base     : 1.4;

$font-size-base       : 1rem;
$font-weight-base     : $font-weight;

$font-family-heading  : "Factor A", "Helvetica Neue", Arial,  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base     : "Factor A", "Helvetica Neue", Arial,  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,   "Liberation Mono",   "Courier New",    monospace !default;

$font-size: (
  // small
  xs: 12px,
  // btn
  sm: 14px,
  // main
  md: 18px,
  // lead
  lg: 24px
) !default;

$heading: (
  h1: 72px,
  h2: 48px,
  h3: 36px,
  h4: 24px,
  h5: 20px,
  h6: 18px,
) !default;

$letter-spacing       : 0.04em;

$grid-columns         : 12 !default;
$grid-gutter-width    : 40px !default;

$spacer-gutter        : 12px !default;

$spacer : 24px!default;
$spacers: ()  !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: 32px,
    2: 44px,
    3: 56px,
    4: 90px,
    5: 120px
  ),
  $spacers
);

$headings-margin-bottom: $spacer !default;
$headings-font-family  : null !default;
$headings-font-weight  : 500 !default;
$headings-line-height  : 1.0 !default;
$headings-color        : null !default;

$paragraph-margin-bottom: $spacer-gutter !default;

$table-cell-padding   : 10px !default;
$table-cell-padding-sm: 6px !default;
$table-caption-color  : #242424 !default;

$label-margin-bottom: 10px;

$enable-grid-classes              : true !default;
$enable-pointer-cursor-for-buttons: true !default;

// Utilities

$displays : none,   inline,   inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto,   hidden !default;
$positions: static, relative, absolute,     fixed, sticky !default;


// Printing

$print-page-size     : a3 !default;
$print-body-min-width: map-get($grid-breakpoints, "lg") !default;