.checkbox{
    display: inline-block;
    margin-bottom: 0;

    cursor: pointer;

    &--full{
        width: 100%;
    }

    &__input{
        position: absolute;
        z-index: -1;
        opacity: 0;

        & + .checkbox__label{
          
            display: grid;
            grid-template-columns: auto 18px;
            grid-gap: 12px;

            align-items: center;
            user-select: none;

            transition: $transition-base;

            &::after{
                content: '';

                display: inline-block;
                width: 18px;
                height: 18px;

                flex-shrink: 0;
                flex-grow: 0;

                transition: $transition-base;
            }
        }
        // Hover
        &:hover + .checkbox__label{
        }
        // Checked
        &:checked + .checkbox__label{
            &:after{
                background-repeat: no-repeat;
                background-image: url(data:image/svg+xml;base64,PHN2ZyAgdmlld0JveD0iMCAwIDE3IDEzIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMTYgMUw1LjY4NzUgMTJMMSA3IiBzdHJva2U9IiMzMzMzMzMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
            }
        }
    }
    &__label{
        color: $black;

        border: 1px solid $border-color;
        border-radius: $border-radius/4;
        background-color: $grey;
        padding: 16px 24px;
    }
}