.btn{
    font-weight: $font-weight-bolder;
    text-align: center;

    border-radius: $border-radius/4;
    padding: 16px 24px;

    cursor: pointer;
    transition: $transition-base;

    &:hover{
        text-decoration: none;
    }

    &--full{
        width: 100%;
    }
}