.nav{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;

    &__item{
        display: inline-block;
        border-radius: 24px;
        background-color:$white;
        color: $black;
        padding: 8px 20px;

        font-size: map-get($map: $font-size, $key: sm);
        font-weight: $font-weight-bold;

        margin-left: map-get($map: $spacers, $key: 1);

        &:hover, &:focus{
            text-decoration: none;
        }

        &_action{
            background-color: $black;
            color: $white;

            &:hover, &:focus{
                color: $white;
                background-color: $violet;
            }
        }
    }
}