.slider{
    &__item{
        height: auto;
        padding: 0 map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 3);

        // Slick
        &.slick-slide{
            height: auto;
        }
    }

    // Slick
    .slick-prev{
        background: url("../icon/arrow-left.svg") no-repeat center / contain;
        width: 32px;
        height: 32px;

        top: auto;
        bottom: 0;
        left: 20px;

        transform: translateY(32px);

        &:before{
            content: '';
        }

        &:hover, &:focus{
            background: url("../icon/arrow-left.svg") no-repeat center / contain;
            filter: opacity(0.75);
        }
    }
    .slick-next{
        background: url("../icon/arrow-right.svg") no-repeat center / contain;
        width: 32px;
        height: 32px;
        
        top: auto;
        bottom: 0;
        right: auto;
        left: 62px;

        transform: translateY(32px);

        &:before{
            content: '';
        }

        &:hover, &:focus{
            background: url("../icon/arrow-right.svg") no-repeat center / contain;
            filter: opacity(0.75);
        }
    }
}
