.tabs-toggle{
    display: grid;
    width: 400px;
    max-width: 100%;

    grid-gap: map-get($map: $spacers, $key: 2);
    grid-template-columns: 1fr;

    &__num{
        font-size: map-get($map: $spacers, $key: sm);
        font-weight: $font-weight-bolder;

        margin-bottom: 6px;
        padding-bottom: 6px;
        border-bottom: 1px solid $border-color;
    }
    &__title{
        font-size: 1.25rem;
        font-weight: $font-weight-bolder;
    }
    &__item{
        filter: opacity(0.5);
        cursor: pointer;
        transition: $transition-base;

        &:hover{
            filter: opacity(1);
        }
        &--active{
            filter: opacity(1);
            cursor: default;
        }
    }
}