.form{
    margin: 0;

    &__group{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: map-get($map: $spacers, $key: 2);
    }    
    &__input{
        border: 1px solid $border-color;
        border-radius: $border-radius/4;
        background-color: $grey;

        padding: 16px 24px;

        &::placeholder{
            font-size: map-get($map: $spacers, $key: sm);
            // text-transform: uppercase;
            transition: $transition-base;
        }

        &:focus{
            outline: none;
            &::placeholder{
                filter: opacity(0);
            }
        }

        &--full{
            width: 100%;
        }
    }
    &__select{
        border: 1px solid $border-color;
        border-radius: $border-radius/4;
        background-color: $grey;

        padding: 16px 24px;

        &--full{
            width: 100%;
        }
    }
}