.footer{
    padding: map-get($map: $spacers, $key: 4) 0 map-get($map: $spacers, $key: 5);
    background: $black;
    color: $white;

    &__logo{
        height: 22px;
        margin-bottom: map-get($map: $spacers, $key: 1);
    }

    &__label{
        filter: opacity(.4);
        margin-bottom: $spacer-gutter;
    }
    &__address{
        width: 295px;
        max-width: 100%;

        margin-bottom: map-get($map: $spacers, $key: 1);
    }

    // Контактная информация
    &__contact{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: map-get($map: $spacers, $key: 1);
    }
    &__phone{
        font-size: map-get($map: $font-size, $key: lg);
        color: $white;
    }
    &__email{
        color: $white;
    }

    // Соцсети
    &__networks{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
        grid-gap: map-get($map: $spacers, $key: 1);
    }
    &__network-item{
        transition: $transition-base;

        &:hover{
            filter: opacity(.4);
        }
    }
    // Ссылки на лицензии
    &__license{
        display: flex;
        align-items: flex-start;

        color: $white;
        margin-bottom: 8px;

        &-icon{
            filter: opacity(.4);
            margin-left: $spacer-gutter;
        }
    }
    &__link{
        color: $white;

        &:hover{
            color: $link-hover-color;
        }
    }
    // Копирайт
    &__copyright{
        filter: opacity(.6);
        margin-top: map-get($map: $spacers, $key: 1);
    }
    // Доп. текст
    &__additional{
        margin-top: map-get($map: $spacers, $key: 4);
    }
    &__content{
        filter: opacity(.4);
        margin-bottom: 2*$spacer-gutter;

        &:last-child{
            margin-bottom: 0;
        }

        &_heading{
            font-weight: $font-weight-bold;
            filter: opacity(1);
        }
    }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .footer{
        padding: map-get($map: $spacers, $key: 2) 0 map-get($map: $spacers, $key: 3);

        // Доп. текст
        &__additional{
            margin-top: map-get($map: $spacers, $key: 2);
        }
        &__license,
        &__content{
            font-size: map-get($map: $font-size, $key: sm);
        }
    }
}
// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .footer{
        // Контактная информация
        &__contact{
            grid-gap: 2*$spacer-gutter;
        }
        
    }
}