.footer{
    
    &__row{
        padding: map-get($map: $spacers, $key: 4);
        border-radius: $border-radius;
        background: $black;
        color: $white;

        margin-bottom: map-get($map: $spacers, $key: 2);

        &_additional{
            font-size: map-get($map: $font-size, $key: sm);

            border-radius: $border-radius;
            padding-top: map-get($map: $spacers, $key: 2);
            padding-bottom: map-get($map: $spacers, $key: 2);
        }
    }
    
    &__logo{
        height: 28px;
        fill: $white;
        margin-bottom: map-get($map: $spacers, $key: 2);
    }
    &__title{
        font-size: map-get($map: $font-size, $key: sm);
        text-transform: uppercase;

        filter: opacity(0.75);
        margin-bottom: map-get($map: $spacers, $key: 2);
    }
    &__content{
        margin-bottom: map-get($map: $spacers, $key: 1);

        &-additional{
            filter: opacity(0.5);
            margin-bottom: map-get($map: $spacers, $key: 2);
        }
    }
    &__contact{
        margin-bottom: map-get($map: $spacers, $key: 1);

        &:last-of-type{
            margin-bottom: map-get($map: $spacers, $key: 2);
        }
    }
    &__btn{
        display: inline-block;
        border: 1px solid $white;
        border-radius: 24px;
        color: $white;
        padding: 8px 20px;

        font-size: map-get($map: $font-size, $key: sm);

        &:hover, &:focus{
            text-decoration: none;
            color: $grey;
            border-color: $grey;

            background-color: rgba(255,255,255,0.05);
        }
    }
    &__links{
        color: $white;
    }
    &__sep{
        margin: 0 map-get($map: $spacers, $key: 1);
    }
}
// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
}