.services{
    display: grid;
    grid-gap: map-get($map: $spacers, $key: 3);
    grid-template-columns: repeat(3, 1fr);

    &_with-heading{
        margin-top: map-get($map: $spacers, $key: 4);
    }
    
    &__item{
        color: $black;

        &:hover{
            text-decoration: none;
            color: $black;
        }
        
        &-title{
            text-transform: uppercase;
            font-weight: $font-weight-bolder;

            letter-spacing: -0.5px;
            
            padding-bottom: map-get($map: $spacers, $key: 1);
            margin-bottom: map-get($map: $spacers, $key: 1);

            border-bottom: 1px solid $border-color;

            filter: opacity(0.5);
            transition: $transition-base;

            &--active{
                filter: opacity(1);
            }
        }
        &-intro{
            // filter: opacity(0);
            overflow: hidden;
            transition: 0.3s;

            &--load{
                height: 1px!important;
                transition: 0.8s;
            }
            &--active{
                // filter: opacity(1);
                // height: auto;
                transition: 0.8s;
            }
        }
    }
}