extends ../blocks/main.pug

block variables
    - var pageTitle = "Contact Page"
block content
    .container
        .content.content_hero
            .row.justify-content-between.align-items-center
                .col-6.col-sm-12
                    p.content__heading-2.content__heading-2_inverse Контакты
                    h1.h3.content__heading-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Porttitor in mi id eget adipiscing cras 
                .col-4.col-sm-12
                    form.form(action="")
                        .form__group
                            input.form__input.form__input--full(type="text" placeholder="Имя")
                            input.form__input.form__input--full(type="text" placeholder="Телефон")
                            textarea.form__input.form__input--full(placeholder="Message")
                            button.btn.btn_primary.btn--full(type="submit") Отправить заявку
        .content-row
            .content
                p.content__heading-2 Офис компании
                .content__contact
                    p Номер телефона: 
                        a(href="#") +7 (495) 419-26-20
                        <br> Номер факса: отсутствует. 
                        <br> E-mail: 
                        a(href="#") info@company.ru
            .content
                p.content__heading-2 Реквизиты
                .content__contact
                    p ИНН: 9703032348
                        <br> КПП: 770301001
                        <br> ОГРН: 1217700173085, дата присвоения ОГРН: 12.04.2021 г.
                .content__contact
                    a.btn.btn_w-icon.btn_primary(href="#") Скачать полные реквизиты
                        svg.btn_w-icon__icon(width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M8.66699 3.83331L13.3337 8.49998L8.66699 13.1666M2.66699 8.49998H13.3337H2.66699Z" stroke="#F4F1EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        .content.content_map
            img.img-fluid(src="../img/map-demo.png" width="100%")