extends ../blocks/main.pug

block variables
    - var pageTitle = "Index Page"
    link(rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
block content
    section.content.content_titulary.bg-lightest-grey
        .container.content_titulary__container
            .row.align-items-center.align-items-md-start.flex-md-column-reverse
                .col-6.col-lg-8.col-md-8.col-sm-12 
                    h1.content_titulary__heading Инвестиции — это&nbsp;просто
                    p.content__offer.content_titulary__offer.mb-2 Ваши доходы растут под нашим надёжным управлением
                    a.btn.btn_action(href="#") Подобрать стратегию
                //- .col-6.col-lg-5.col-md-12
                //-     img.content_titulary__image(src="./img/titulary.png")
            .content_titulary__animation
                <svg class="content_titulary__animation-svg" viewBox="0 0 1562 1562" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g class="content_titulary__animation-group content_titulary__animation-start content_titulary__animation-circle-1">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1114.14 446.85C1025.64 358.341 905.616 308.617 780.463 308.617C655.31 308.617 535.283 358.341 446.787 446.85C358.29 535.359 308.574 655.403 308.574 780.573C308.574 905.743 358.291 1025.79 446.787 1114.3L390.232 1170.86C286.736 1067.35 228.592 926.959 228.592 780.573C228.592 634.187 286.736 493.797 390.232 390.287C493.728 286.776 634.098 228.625 780.463 228.625C926.829 228.625 1067.2 286.776 1170.7 390.286L1114.14 446.85Z" fill="#00C172"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1216.47 599.907C1192.76 542.652 1157.99 490.629 1114.17 446.808L1170.73 390.25C1221.98 441.498 1262.64 502.339 1290.37 569.298C1318.11 636.257 1332.39 708.024 1332.39 780.5C1332.39 852.976 1318.11 924.742 1290.37 991.702C1262.64 1058.66 1221.98 1119.5 1170.73 1170.75L1114.17 1114.19C1157.99 1070.37 1192.76 1018.35 1216.47 961.093C1240.19 903.838 1252.4 842.472 1252.4 780.5C1252.4 718.527 1240.19 657.162 1216.47 599.907Z" fill="#016243"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M961.065 1216.49C1018.32 1192.77 1070.35 1158.01 1114.17 1114.19L1170.73 1170.75C1119.48 1222 1058.64 1262.65 991.675 1290.39C924.713 1318.12 852.943 1332.4 780.464 1332.4C707.984 1332.4 636.214 1318.12 569.252 1290.39C502.29 1262.65 441.446 1222 390.195 1170.75L446.756 1114.19C490.579 1158.01 542.605 1192.77 599.862 1216.49C657.12 1240.21 718.488 1252.41 780.464 1252.41C842.439 1252.41 903.807 1240.21 961.065 1216.49Z" fill="#00C172"/>
                    </g>
                    <g class="content_titulary__animation-group content_titulary__animation-circle-2">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1001.21 560.642C942.757 502.151 863.478 469.29 780.814 469.29C698.15 469.29 618.871 502.151 560.419 560.642C501.966 619.134 469.128 698.466 469.128 781.186C469.128 863.905 501.966 943.237 560.419 1001.73L503.907 1058.28C430.467 984.789 389.208 885.116 389.208 781.186C389.208 677.256 430.467 577.582 503.907 504.093C577.347 430.603 676.954 389.317 780.814 389.317C884.674 389.317 984.281 430.603 1057.72 504.093L1001.21 560.642Z" fill="#009657"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1068.87 661.683C1053.2 623.855 1030.24 589.483 1001.28 560.531L1057.81 504C1094.19 540.376 1123.05 583.561 1142.73 631.089C1162.42 678.617 1172.55 729.557 1172.55 781C1172.55 832.444 1162.42 883.384 1142.73 930.911C1123.05 978.439 1094.19 1021.62 1057.81 1058L1001.28 1001.47C1030.24 972.517 1053.2 938.146 1068.87 900.317C1084.54 862.489 1092.61 821.945 1092.61 781C1092.61 740.055 1084.54 699.511 1068.87 661.683Z" fill="#00C172"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M900.131 1069.06C937.96 1053.39 972.331 1030.42 1001.28 1001.47L1057.81 1058C1021.44 1094.38 978.253 1123.23 930.726 1142.92C883.198 1162.6 832.258 1172.74 780.814 1172.74C729.371 1172.74 678.431 1162.6 630.903 1142.92C583.375 1123.23 540.19 1094.38 503.814 1058L560.345 1001.47C589.297 1030.42 623.669 1053.39 661.497 1069.06C699.325 1084.73 739.869 1092.79 780.814 1092.79C821.759 1092.79 862.303 1084.73 900.131 1069.06Z" fill="#009657"/>
                    </g>
                    <g class="content_titulary__animation-group content_titulary__animation-circle-3">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M887.448 673.552C858.951 645.055 820.301 629.045 780 629.045C739.699 629.045 701.049 645.055 672.552 673.552C644.055 702.049 628.045 740.699 628.045 781C628.045 821.301 644.055 859.951 672.552 888.448L616 945C572.505 901.505 548.069 842.512 548.069 781C548.069 719.488 572.505 660.496 616 617C659.496 573.505 718.488 549.069 780 549.069C841.512 549.069 900.505 573.504 944 617L887.448 673.552Z" fill="#016243"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M920.388 722.85C912.751 704.414 901.559 687.662 887.448 673.552L944 617C965.537 638.537 982.621 664.105 994.276 692.244C1005.93 720.383 1011.93 750.542 1011.93 781C1011.93 811.458 1005.93 841.617 994.276 869.756C982.621 897.895 965.537 923.463 944 945L887.448 888.448C901.559 874.338 912.752 857.587 920.388 839.151C928.024 820.715 931.955 800.955 931.955 781C931.955 761.045 928.024 741.286 920.388 722.85Z" fill="#00B560"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M838.151 921.388C856.587 913.752 873.338 902.559 887.448 888.448L944 945C922.463 966.537 896.895 983.621 868.756 995.276C840.617 1006.93 810.458 1012.93 780 1012.93C749.542 1012.93 719.383 1006.93 691.244 995.276C663.105 983.621 637.537 966.537 616 945L672.552 888.448C686.662 902.559 703.413 913.752 721.849 921.388C740.285 929.024 760.045 932.955 780 932.955C799.955 932.955 819.715 929.024 838.151 921.388Z" fill="#016243"/>
                    </g>
                    <g class="content_titulary__animation-group content_titulary__animation-dot-1">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M887.448 673.552C858.951 645.055 820.301 629.045 780 629.045C739.699 629.045 701.049 645.055 672.552 673.552C644.055 702.049 628.045 740.699 628.045 781C628.045 821.301 644.055 859.951 672.552 888.448L616 945C572.505 901.505 548.069 842.512 548.069 781C548.069 719.488 572.505 660.496 616 617C659.496 573.505 718.488 549.069 780 549.069C841.512 549.069 900.505 573.504 944 617L887.448 673.552Z" fill="#FBFBFB" opacity="0" />
                        <circle cx="915.862" cy="916.764" r="40" transform="rotate(-45 915.862 916.764)" fill="#016243"/>
                    </g>
                    <g class="content_titulary__animation-group content_titulary__animation-dot-2">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1001.21 560.642C942.757 502.151 863.478 469.29 780.814 469.29C698.15 469.29 618.871 502.151 560.419 560.642C501.966 619.134 469.128 698.466 469.128 781.186C469.128 863.905 501.966 943.237 560.419 1001.73L503.907 1058.28C430.467 984.789 389.208 885.116 389.208 781.186C389.208 677.256 430.467 577.582 503.907 504.093C577.347 430.603 676.954 389.317 780.814 389.317C884.674 389.317 984.281 430.603 1057.72 504.093L1001.21 560.642Z" fill="#FBFBFB" opacity="0" />
                        <circle cx="1029.27" cy="1029.9" r="40" transform="rotate(-45 1029.27 1029.9)" fill="#016243"/>
                    </g>
                    <g class="content_titulary__animation-group content_titulary__animation-dot-3">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1114.14 446.85C1025.64 358.341 905.616 308.617 780.463 308.617C655.31 308.617 535.283 358.341 446.787 446.85C358.29 535.359 308.574 655.403 308.574 780.573C308.574 905.743 358.291 1025.79 446.787 1114.3L390.232 1170.86C286.736 1067.35 228.592 926.959 228.592 780.573C228.592 634.187 286.736 493.797 390.232 390.287C493.728 286.776 634.098 228.625 780.463 228.625C926.829 228.625 1067.2 286.776 1170.7 390.286L1114.14 446.85Z" fill="#FBFBFB" opacity="0" />
                        <circle cx="1142.68" cy="1142.68" r="40" transform="rotate(-45 1142.68 1142.68)" fill="#00C172"/>
                    </g>
                </svg>
    .bg-light-grey
        include ../items/slider/slider.pug
    .modal.modal_iis#iis
        p.modal_iis__label Подробнее
        p.h5.modal_iis__title ИИС
        p.mb-0 Инвестиции в паи биржевого фонда с портфелем из акций ТОП-300 крупнейших компаний Китая, в том числе через ETF.
    section.content.content_strategy#strategy
        .container 
            .row.justify-content-between.flex-md-column-reverse.align-items-center
                .col-9.col-xl-7.col-lg-8.col-md-10.col-sm-12
                    h3.text-bold Поможем выбрать стратегию
                    p.content_strategy__offer Если вы не&nbsp;знаете, какую стратегию выбрать, или вы&nbsp;хотите узнать, 
                        | как мы&nbsp;работаем  — с&nbsp;удовольствием всё расскажем. 
                    form.form.form_strategy
                        input.input(type="text" data-input="name" placeholder="Ваше имя")
                        input.input(type="tel" data-input="phone" placeholder="Номер телефона")
                        button.btn.btn_action.form_strategy__btn Подобрать стратегию
                .col-3.col-xl-4.col-lg-4.col-md-10.col-sm-12
                    img.content_strategy__image(src="./img/img-cta-block.svg")
    section.content
        .container
            .pb-2
                h2.mb-1 Что такое доверительное управление?
                p Доверительное управление — это передача средств в распоряжение управляющей компании с целью получения прибыли. УК вкладывает ваш капитал в акции, облигации и другие инструменты фондовой биржи. По сути, при доверительном управлении вы «нанимаете» менеджера, который вместо вас следит за рынком, принимает решения и зарабатывает для вас деньги.
            .row.pt-2.pt-xs-0
                .col-4.col-lg-12.col-md-12.mb-lg-3.mb-xs-2
                    .info
                        img.info__image(src="./icon/arrow.svg")
                        p.info__title Как это работает
                        p.info__content Вы выбираете стратегию, срок вложений, валюту, рынок, уровень риска и другие детали. Затем заключается договор и открывается счёт. Управляющая компания работает с вашим портфелем, продавая или покупая активы, ориентируясь на оперативные рыночные данные, аналитику и собственную экспертизу.
                .col-4.col-lg-12.col-md-12.mb-lg-3.mb-xs-2
                    .info
                        img.info__image(src="./icon/circle.svg")
                        p.info__title Прозрачность работы
                        p.info__content Вы можете в любой момент отслеживать движение ваших финансов через личный кабинет. Вы увидите, из чего состоит ваш портфель, какие сделки проводятся и к каким результатам они приводят, какую комиссию и от каких сумм получает управляющая компания. Вся отчётность — перед вашими глазами. 
                .col-4.col-lg-12.col-md-12
                    .info
                        img.info__image(src="./icon/plus.svg")
                        p.info__title Преимущества
                        p.info__content Доверительное управление — это возможность заработать больше, чем при открытии банковского вклада или вложении в паевые фонды. Вам не нужно вникать в тонкости инвестиционной деятельности. Индивидуальный подход и широкие возможности для инвестиций, а значит, более высокий доход.
    section.content.content_trust.bg-light-grey 
        .container 
            .row.justify-content-between.flex-md-column-reverse
                .col-6.col-xl-6.col-lg-7.col-md-12 
                    p.h2.content_trust__heading-form О компании
                    p.content__offer.text-bold.mb-1 С нами инвестиции — это просто.
                    p.content__offer.mb-1 ITI Менеджмент — современная управляющая компания. Наша специализация — финансовые и инвестиционные услуги физическим лицам. Мы профессионально и эффективно управляем вашими средствами, помогая вам стабильно увеличивать доход. 
                    a.content_trust__link(href="#") Подробнее
                .col-5.col-xl-6.col-lg-5.col-md-12
                    img.content_trust__image(src="./img/img-company-block.svg")
block footer
    script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")