extends ../blocks/main.pug

block variables
    - var pageTitle = "Index Page"
block content
    .content-gradient-hero
        .container
            .content.content_hero
                .row 
                    .content__heading.col-8.col-sm-12
                        h1.content__heading-1 Превращаем идею в максимально прибыльный  инвестиционный проект
                    .col-6.col-sm-12
                        p.content__intro 10 лет мы представлены на строительном рынке России и являемся одним из надёжных генеральных подрядчиков
                        svg.content__scroll-down(width="87" height="88" viewBox="0 0 87 88" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M50.3845 76.7272C51.1096 76.5653 51.7852 76.5108 52.4115 76.5636C53.0397 76.6251 53.6078 76.7872 54.1158 77.0498L53.9288 77.9995C53.4072 77.7582 52.8833 77.6092 52.3571 77.5524C51.8308 77.4957 51.2445 77.5394 50.5981 77.6838C49.8119 77.8593 49.2631 78.1331 48.9518 78.5052C48.6338 78.888 48.5284 79.3197 48.6356 79.8001C48.7214 80.1845 48.9295 80.459 49.2597 80.6238C49.5812 80.7904 50.0798 80.8671 50.7555 80.8539L52.1797 80.8248C53.0398 80.8162 53.7191 80.9626 54.2174 81.2641C54.7089 81.5762 55.0288 82.0642 55.177 82.7282C55.2999 83.2785 55.2674 83.7902 55.0795 84.2631C54.8829 84.7381 54.5566 85.1456 54.1006 85.4859C53.6446 85.8261 53.0847 86.0703 52.4208 86.2185C51.8006 86.357 51.2016 86.3852 50.6239 86.3033C50.0481 86.2301 49.5358 86.0509 49.087 85.766L49.2798 84.8425C49.7529 85.1129 50.2253 85.278 50.6972 85.3377C51.171 85.4062 51.6788 85.38 52.2204 85.2591C52.9105 85.105 53.4248 84.8205 53.7632 84.4057C54.1035 83.9995 54.2152 83.5344 54.0982 83.0103C54.0046 82.5909 53.8038 82.2873 53.4959 82.0992C53.1792 81.9131 52.7156 81.8286 52.1049 81.8457L50.6778 81.8617C49.7546 81.8752 49.0414 81.7409 48.5382 81.4589C48.0283 81.1876 47.7021 80.733 47.5597 80.0953C47.4447 79.5799 47.483 79.0945 47.6748 78.639C47.8579 78.1854 48.1827 77.7919 48.6494 77.4585C49.1073 77.127 49.6857 76.8832 50.3845 76.7272Z" fill="white")
                            path(d="M41.5087 77.5385C42.4391 77.5675 43.2292 77.7892 43.8789 78.2035C44.5287 78.6178 45.0211 79.1929 45.3564 79.9287C45.6827 80.6642 45.8302 81.533 45.7989 82.535C45.7679 83.528 45.5666 84.3814 45.1951 85.0952C44.8146 85.8086 44.2873 86.3519 43.6129 86.7248C42.9386 87.0978 42.1363 87.2698 41.2059 87.2407C40.5528 87.2203 39.9566 87.0988 39.4173 86.876C38.869 86.6529 38.4087 86.3385 38.0363 85.9329L38.4938 85.0472C38.8933 85.4447 39.3141 85.7354 39.7561 85.9194C40.1889 86.112 40.6737 86.2167 41.2104 86.2334C42.275 86.2667 43.0996 85.9566 43.6842 85.3032C44.2687 84.6498 44.58 83.7148 44.618 82.4981C44.6562 81.2725 44.404 80.3153 43.8614 79.6268C43.3187 78.9382 42.515 78.5773 41.4504 78.5441C40.9137 78.5273 40.4234 78.5971 39.9798 78.7534C39.5269 78.9184 39.0886 79.1868 38.6651 79.5586L38.2637 78.6461C38.6604 78.2734 39.1395 77.9884 39.7009 77.791C40.253 77.6023 40.8556 77.5181 41.5087 77.5385Z" fill="white")
                            path(d="M36.903 77.324L34.1635 86.3842L30.578 85.3C29.6013 85.0047 28.9246 84.5523 28.5478 83.9428C28.1625 83.3307 28.0968 82.6048 28.3506 81.7652C28.5527 81.0969 28.9027 80.6043 29.4006 80.2873C29.89 79.9677 30.4882 79.8447 31.1954 79.9183C30.8427 79.662 30.6053 79.2256 30.4832 78.6089L29.7834 75.1712L30.94 75.521L31.6297 78.8994C31.7179 79.3189 31.8711 79.6317 32.0893 79.8379C32.3075 80.0441 32.6265 80.2107 33.0463 80.3377L34.6912 80.8351L35.8492 77.0054L36.903 77.324ZM34.4387 81.6704L32.0612 80.9515C30.6389 80.5215 29.7491 80.8976 29.3916 82.0799C29.0393 83.2451 29.5742 84.0427 30.9965 84.4728L33.374 85.1917L34.4387 81.6704Z" fill="white")
                            path(d="M25.3678 72.4701C26.1097 72.9382 26.6518 73.5131 26.9943 74.1948C27.3244 74.8794 27.4474 75.6237 27.3633 76.4279C27.2716 77.2274 26.9607 78.0472 26.4306 78.8874C25.9004 79.7277 25.2943 80.3613 24.6122 80.7881C23.9301 81.215 23.2115 81.4231 22.4563 81.4123C21.6936 81.3967 20.9375 81.1524 20.1881 80.6796C19.4311 80.202 18.8852 79.6247 18.5503 78.9477C18.2078 78.266 18.0824 77.5254 18.1741 76.726C18.2534 75.9294 18.5581 75.1109 19.0883 74.2707C19.6184 73.4304 20.2307 72.7955 20.9252 72.3658C21.6148 71.9437 22.3434 71.7366 23.1109 71.7447C23.8661 71.7555 24.6184 71.9973 25.3678 72.4701ZM24.8448 73.299C23.9894 72.7593 23.1456 72.6291 22.3133 72.9082C21.481 73.1874 20.7376 73.8456 20.0833 74.8826C19.429 75.9197 19.1573 76.8701 19.2685 77.734C19.3748 78.6054 19.8557 79.311 20.7111 79.8507C21.5513 80.3809 22.3876 80.5063 23.2199 80.2272C24.0474 79.9556 24.7884 79.3012 25.4427 78.2642C26.0923 77.2347 26.3663 76.2804 26.2647 75.4014C26.1584 74.53 25.6851 73.8292 24.8448 73.299Z" fill="white")
                            path(d="M20.8522 69.3473L14.0501 75.9293L13.2845 75.1382L19.392 69.2283L16.0403 65.7646L16.7349 65.0924L20.8522 69.3473Z" fill="white")
                            path(d="M16.3527 64.4635L8.36198 69.537L7.77187 68.6076L14.9465 64.0522L12.363 59.9832L13.1791 59.465L16.3527 64.4635Z" fill="white")
                            path(d="M11.5276 55.7375L2.30578 57.8707L1.58563 54.7575C1.24068 53.2664 1.37118 52.0235 1.97713 51.0289C2.57436 50.0364 3.61857 49.3676 5.10975 49.0227C6.60094 48.6777 7.8371 48.819 8.81826 49.4464C9.79942 50.0738 10.4625 51.1331 10.8074 52.6243L11.5276 55.7375ZM10.3638 54.8767L9.90993 52.9146C9.35318 50.5078 7.84087 49.5898 5.373 50.1607C2.91386 50.7296 1.96266 52.2174 2.51942 54.6242L2.97329 56.5863L10.3638 54.8767Z" fill="white")
                            path(d="M9.96606 42.6632C9.91573 43.5389 9.67523 44.2916 9.24456 44.9214C8.80547 45.5416 8.21375 46.0097 7.4694 46.3255C6.72557 46.6324 5.8577 46.7574 4.86582 46.7004C3.87393 46.6434 3.0261 46.4198 2.32232 46.0297C1.61854 45.6396 1.08855 45.1116 0.732346 44.4456C0.376655 43.7707 0.224229 42.9909 0.275071 42.1063C0.326426 41.2127 0.567183 40.4555 0.997339 39.8347C1.42801 39.205 2.01526 38.7366 2.7591 38.4297C3.49451 38.1134 4.35816 37.9837 5.35004 38.0407C6.34193 38.0977 7.19397 38.326 7.90617 38.7255C8.60944 39.1246 9.14339 39.6618 9.50801 40.3372C9.86422 41.0032 10.0169 41.7785 9.96606 42.6632ZM8.98758 42.607C9.04561 41.5972 8.75098 40.7958 8.10369 40.2027C7.4564 39.6097 6.52065 39.278 5.29643 39.2076C4.07221 39.1373 3.10909 39.3599 2.40705 39.8754C1.69608 40.3904 1.31158 41.1527 1.25355 42.1625C1.19655 43.1544 1.49169 43.9468 2.13898 44.5399C2.77733 45.1324 3.70862 45.4639 4.93284 45.5342C6.14812 45.6041 7.11571 45.3818 7.83562 44.8673C8.54659 44.3523 8.93057 43.5989 8.98758 42.607Z" fill="white")
                            path(d="M10.9464 35.1005L0.934249 34.5128L1.37922 33.4473L9.65639 34.0088L3.4644 28.4546L3.80589 27.6369L12.1605 28.1871L5.90142 22.6194L6.32569 21.6036L13.7819 28.3114L13.4042 29.2158L5.17859 28.7049L11.3138 34.2209L10.9464 35.1005Z" fill="white")
                            path(d="M15.6936 25.1834L8.67273 18.8352L9.24902 18.1979L18.7225 19.071L13.076 13.9654L13.7603 13.2086L20.7811 19.5568L20.2229 20.1742L10.7205 19.293L16.3869 24.4166L15.6936 25.1834Z" fill="white")
                            path(d="M36.049 11.2728C35.324 11.4347 34.6483 11.4892 34.0221 11.4364C33.3939 11.3749 32.8258 11.2128 32.3178 10.9502L32.5048 10.0005C33.0263 10.2418 33.5502 10.3908 34.0765 10.4475C34.6027 10.5043 35.1891 10.4605 35.8355 10.3162C36.6217 10.1407 37.1705 9.86691 37.4817 9.49478C37.7998 9.11196 37.9052 8.68033 37.7979 8.19987C37.7121 7.8155 37.5041 7.54095 37.1739 7.37623C36.8524 7.20956 36.3538 7.13286 35.6781 7.14613L34.2539 7.17518C33.3937 7.18378 32.7145 7.03735 32.2162 6.7359C31.7246 6.42377 31.4048 5.93574 31.2565 5.27184C31.1337 4.72149 31.1662 4.20984 31.3541 3.73686C31.5507 3.26193 31.877 2.85435 32.333 2.51412C32.7889 2.17388 33.3489 1.92966 34.0128 1.78145C34.633 1.643 35.232 1.61475 35.8097 1.69671C36.3855 1.76994 36.8978 1.94905 37.3466 2.23404L37.1538 3.15749C36.6807 2.88708 36.2082 2.72201 35.7364 2.66227C35.2625 2.5938 34.7548 2.62002 34.2132 2.74093C33.5231 2.89499 33.0088 3.17945 32.6704 3.59432C32.33 4.00046 32.2183 4.4656 32.3354 4.98974C32.429 5.40905 32.6297 5.71273 32.9377 5.90077C33.2543 6.08686 33.718 6.17136 34.3286 6.15427L35.7557 6.13833C36.679 6.12482 37.3922 6.25907 37.8954 6.5411C38.4053 6.81244 38.7315 7.26696 38.8738 7.90466C38.9889 8.42006 38.9505 8.90552 38.7587 9.36102C38.5757 9.81458 38.2508 10.2081 37.7842 10.5415C37.3263 10.873 36.7479 11.1168 36.049 11.2728Z" fill="white")
                            path(d="M44.9249 10.4615C43.9945 10.4325 43.2044 10.2108 42.5547 9.7965C41.9049 9.3822 41.4124 8.80714 41.0772 8.07132C40.7509 7.33578 40.6034 6.46702 40.6347 5.46504C40.6657 4.472 40.8669 3.6186 41.2385 2.90484C41.6189 2.19136 42.1463 1.64813 42.8206 1.27516C43.4949 0.902187 44.2973 0.730225 45.2277 0.759266C45.8808 0.77965 46.477 0.901237 47.0163 1.12404C47.5645 1.34711 48.0249 1.66148 48.3973 2.06712L47.9398 2.95282C47.5403 2.55528 47.1195 2.26455 46.6775 2.08061C46.2447 1.888 45.7599 1.78331 45.2231 1.76656C44.1585 1.73333 43.334 2.0434 42.7494 2.69678C42.1648 3.35016 41.8536 4.2852 41.8156 5.5019C41.7773 6.72754 42.0295 7.68464 42.5722 8.37321C43.1149 9.06177 43.9185 9.42267 44.9831 9.45589C45.5199 9.47265 46.0101 9.40288 46.4538 9.24658C46.9067 9.08162 47.3449 8.81321 47.7685 8.44137L48.1698 9.35388C47.7731 9.72656 47.2941 10.0116 46.7327 10.209C46.1806 10.3977 45.578 10.4819 44.9249 10.4615Z" fill="white")
                            path(d="M49.5305 10.676L52.2701 1.61581L55.8556 2.69995C56.8323 2.99527 57.509 3.44769 57.8858 4.0572C58.2711 4.6693 58.3368 5.39517 58.0829 6.23479C57.8809 6.90306 57.5309 7.39569 57.0329 7.71268C56.5436 8.03225 55.9453 8.15526 55.2382 8.08172C55.5909 8.33796 55.8283 8.77443 55.9504 9.3911L56.6502 12.8288L55.4936 12.479L54.8039 9.10055C54.7157 8.68113 54.5624 8.36831 54.3443 8.16208C54.1261 7.95585 53.8071 7.78926 53.3873 7.66233L51.7423 7.16494L50.5844 10.9946L49.5305 10.676ZM51.9949 6.32961L54.3724 7.04848C55.7946 7.47852 56.6845 7.10236 57.042 5.92004C57.3943 4.75485 56.8593 3.95724 55.4371 3.52721L53.0596 2.80834L51.9949 6.32961Z" fill="white")
                            path(d="M61.0657 15.5299C60.3239 15.0618 59.7818 14.4869 59.4393 13.8052C59.1092 13.1206 58.9862 12.3763 59.0703 11.5721C59.1619 10.7726 59.4728 9.9528 60.003 9.11255C60.5331 8.2723 61.1393 7.63873 61.8214 7.21185C62.5035 6.78496 63.2221 6.57693 63.9773 6.58774C64.74 6.60333 65.4961 6.84754 66.2455 7.32039C67.0025 7.798 67.5484 8.37529 67.8833 9.05225C68.2257 9.73398 68.3511 10.4746 68.2595 11.274C68.1802 12.0706 67.8755 12.8891 67.3453 13.7293C66.8152 14.5696 66.2029 15.2045 65.5084 15.6342C64.8188 16.0563 64.0902 16.2634 63.3226 16.2553C62.5675 16.2445 61.8152 16.0027 61.0657 15.5299ZM61.5887 14.701C62.4441 15.2407 63.288 15.3709 64.1203 15.0918C64.9526 14.8126 65.6959 14.1544 66.3503 13.1174C67.0046 12.0803 67.2762 11.1298 67.1651 10.266C67.0588 9.39455 66.5779 8.68899 65.7225 8.14928C64.8823 7.61912 64.046 7.49364 63.2137 7.77282C62.3861 8.04444 61.6452 8.69878 60.9909 9.73584C60.3413 10.7653 60.0673 11.7196 60.1688 12.5986C60.2752 13.47 60.7485 14.1708 61.5887 14.701Z" fill="white")
                            path(d="M65.5814 18.6527L72.3835 12.0706L73.1491 12.8618L67.0416 18.7716L70.3933 22.2354L69.6986 22.9076L65.5814 18.6527Z" fill="white")
                            path(d="M70.0809 23.5365L78.0716 18.463L78.6617 19.3924L71.487 23.9478L74.0706 28.0168L73.2545 28.535L70.0809 23.5365Z" fill="white")
                            path(d="M74.906 32.2625L84.1278 30.1293L84.848 33.2424C85.1929 34.7336 85.0624 35.9765 84.4564 36.9711C83.8592 37.9636 82.815 38.6324 81.3238 38.9773C79.8326 39.3222 78.5965 39.181 77.6153 38.5536C76.6342 37.9262 75.9711 36.8669 75.6262 35.3757L74.906 32.2625ZM76.0698 33.1233L76.5236 35.0854C77.0804 37.4922 78.5927 38.4102 81.0606 37.8393C83.5197 37.2704 84.4709 35.7826 83.9142 33.3758L83.4603 31.4137L76.0698 33.1233Z" fill="white")
                            path(d="M76.4675 45.3368C76.5178 44.4611 76.7583 43.7083 77.189 43.0786C77.6281 42.4583 78.2198 41.9903 78.9642 41.6745C79.708 41.3676 80.5759 41.2426 81.5678 41.2996C82.5596 41.3566 83.4075 41.5802 84.1113 41.9703C84.815 42.3604 85.345 42.8884 85.7012 43.5544C86.0569 44.2293 86.2093 45.0091 86.1585 45.8937C86.1072 46.7873 85.8664 47.5445 85.4362 48.1653C85.0056 48.795 84.4183 49.2633 83.6745 49.5702C82.9391 49.8866 82.0754 50.0163 81.0835 49.9593C80.0916 49.9023 79.2396 49.674 78.5274 49.2744C77.8241 48.8754 77.2902 48.3382 76.9256 47.6627C76.5694 46.9968 76.4167 46.2214 76.4675 45.3368ZM77.446 45.393C77.388 46.4028 77.6826 47.2042 78.3299 47.7972C78.9772 48.3903 79.9129 48.722 81.1371 48.7924C82.3614 48.8627 83.3245 48.6401 84.0265 48.1246C84.7375 47.6096 85.122 46.8473 85.18 45.8375C85.237 44.8456 84.9419 44.0531 84.2946 43.4601C83.6562 42.8675 82.725 42.5361 81.5007 42.4657C80.2855 42.3959 79.3179 42.6182 78.598 43.1327C77.887 43.6477 77.503 44.4011 77.446 45.393Z" fill="white")
                            path(d="M75.4871 52.8995L85.4993 53.4872L85.0544 54.5526L76.7772 53.9912L82.9692 59.5454L82.6277 60.363L74.2731 59.8129L80.5322 65.3805L80.1079 66.3964L72.6517 59.6886L73.0294 58.7842L81.255 59.2951L75.1198 53.7791L75.4871 52.8995Z" fill="white")
                            path(d="M70.74 62.8166L77.7609 69.1648L77.1846 69.8021L67.7111 68.929L73.3576 74.0345L72.6733 74.7914L65.6524 68.4432L66.2107 67.8258L75.7131 68.707L70.0467 63.5834L70.74 62.8166Z" fill="white")
                            path(d="M24.5772 12.1341C23.9937 12.3374 23.3558 12.0292 23.1525 11.4457C22.9492 10.8622 23.2574 10.2244 23.841 10.021C24.4245 9.81774 25.0623 10.126 25.2656 10.7095C25.4689 11.293 25.1607 11.9308 24.5772 12.1341Z" fill="white")
                            path(d="M62.5387 77.8854C61.9552 78.0888 61.3174 77.7805 61.1141 77.197C60.9108 76.6135 61.219 75.9757 61.8025 75.7724C62.386 75.5691 63.0238 75.8773 63.2271 76.4608C63.4305 77.0443 63.1222 77.6821 62.5387 77.8854Z" fill="white")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M42.1994 50.9122C41.1023 51.5468 39.8285 51.9101 38.47 51.9101C34.3505 51.9101 31.0111 48.5706 31.0111 44.4512C31.0111 40.3318 34.3505 36.9923 38.47 36.9923C39.8285 36.9923 41.1023 37.3556 42.1994 37.9902C43.2965 37.3556 44.5702 36.9923 45.9288 36.9923C50.0482 36.9923 53.3877 40.3318 53.3877 44.4512C53.3877 48.5706 50.0482 51.9101 45.9288 51.9101C44.5702 51.9101 43.2965 51.5468 42.1994 50.9122ZM41.1656 50.1913C40.3475 50.5761 39.4339 50.7912 38.47 50.7912C34.9684 50.7912 32.1299 47.9527 32.1299 44.4512C32.1299 40.9497 34.9684 38.1112 38.47 38.1112C39.4339 38.1112 40.3475 38.3263 41.1656 38.7111C39.5186 40.0793 38.47 42.1428 38.47 44.4512C38.47 46.7596 39.5186 48.8231 41.1656 50.1913ZM42.1994 49.5789C40.6171 48.4261 39.5888 46.5587 39.5888 44.4512C39.5888 42.3437 40.6171 40.4763 42.1994 39.3235C43.7817 40.4763 44.81 42.3437 44.81 44.4512C44.81 46.5587 43.7817 48.4261 42.1994 49.5789ZM43.2332 38.7111C44.0513 38.3263 44.9649 38.1112 45.9288 38.1112C49.4303 38.1112 52.2689 40.9497 52.2689 44.4512C52.2689 47.9527 49.4303 50.7912 45.9288 50.7912C44.9649 50.7912 44.0513 50.5761 43.2332 50.1913C44.8802 48.8231 45.9288 46.7596 45.9288 44.4512C45.9288 42.1428 44.8802 40.0793 43.2332 38.7111Z" fill="white")
            .content
                .advantages
                    p.advantages__item Прозрачное ценообразование
                    p.advantages__item Эффективный стоимостной инжиниринг
                    p.advantages__item Возможность реализации под ключ
                    p.advantages__item Сдача объекта в эксплуатацию в срок
                    p.advantages__item Конфиденциальность информации
                    p.advantages__item Оптимизация бюджета
            .content
                .row
                    .col-4.col-sm-12
                        p.content__heading-2 Наши услуги
                    .col-8.col-sm-12
                        p Мы, как генеральный подрядчик, реализуем полный комплекс функций по управлению строительством объекта благодаря умениям и знаниям по эффективному использованию кадровых, финансовых, материальных, технических и временных ресурсов.
                .services.services_with-heading.services_animate
                    a.services__item.services__item--active(href="")
                        .services__item-title.services__item-title--active Организация комплекса работ
                        .services__item-intro.services__item-intro--active(style="display:block;") Организация и выполнение работ в строительном производстве осуществляться при соблюдении требований законодательства. Обустройство и содержание строительной площадки.
                    a.services__item(href="")
                        .services__item-title Строительные работы
                        .services__item-intro Осуществление технического надзора и контроля над производством и качеством строительно-монтажных работ; планирование, координация, контроль строительных и проектных контрактов
                    a.services__item(href="")
                        .services__item-title Работа с субподрядчиками
                        .services__item-intro Выбор субподрядчиков и поставщиков на тендерной основе по критериям профессионализма, надежности, стоимости и качества. Заключение договоров и координация субподрядных организаций. Заключение договоров с поставщиками, обеспечение строительства материалами, конструкциями и оборудованием. Обеспечение контроля за подрядными проектными организациями на предмет надлежащего выполнения ими  работ по договору. Обеспечение возможности бесперебойного выполнения  работ подрядчиками.
                    a.services__item(href="")
                        .services__item-title Обеспечение безопасности работ
                        .services__item-intro Контроль соблюдения  норм пожарной безопасности, охраны труда, техники безопасности,  а так же выполнение подготовительных работ по организации стройплощадки, необходимых для обеспечения безопасности строительства.
                    a.services__item(href="")
                        .services__item-title Защита окружающей среды
                        .services__item-intro Соблюдение экологических стандартов и взаимодействие с природоохранными органами. Изучение экологической карту местности для определения условий, разработка и внедрение плана по защите окружающей среды, экологический мониторинг. Особенное внимание уделяется организации утилизации отходов промышленного производства. 
                    a.services__item(href="")
                        .services__item-title Подготовка документации
                        .services__item-intro Получение всех согласований и разрешений на проведение работ: разрешение на строительство, правоустанавливающие документы на земельный участок, разрешение на подсоединение внешних инженерных коммуникаций. 
                    a.services__item(href="")
                        .services__item-title Сдача в эксплуатацию
                        .services__item-intro Подготовка к получению разрешения на ввод в эксплуатацию проводится на протяжении всего строительства в соответствии со СНиП. Проверка соответствия построенных сооружений проекту, нормам и техническим условиям.
                    a.services__item(href="")
                        .services__item-title Проектирование
                        .services__item-intro Разработка полного комплекта проектной документации, необходимой для строительства объекта, оснащения его технологическим оборудованием и подключения к наружным инженерным сетям.  Заключение необходимых договоров для обеспечения выпуска проектной документации в необходимом, требуемом объеме. Выполнение проектных работ в сроки, установленные «Графиком производства работ» и заключенным договором. Соблюдение бюджета проектирования. контроль проведения проектных работ, рекомендации по проектированию конкретного проекта с предоставлением отчета; подготовка технических условий на проектирование объекта и их согласование с проектной компанией. Согласование и утверждение предпроектной и проектно-сметной документации;
            a.content.content_link(href="services.html") Подробнее об услугах
            .content.content_objects.content_action
                p.content__heading-2.content_objects__heading Наши объекты
                .content_objects__row
                    .content_objects__column
                        a.btn.btn_secondary.btn--full(href="#") Административные здания
                    .content_objects__column
                        a.btn.btn_secondary.btn--full(href="#") Медицинские здания
                    .content_objects__column
                        a.btn.btn_secondary.btn--full(href="#") Промышленные здания
                    .content_objects__column
                        a.btn.btn_secondary.btn--full(href="#") Торговые центры
                    .content_objects__column
                        a.btn.btn_secondary.btn--full(href="#") АЭС
                    .content_objects__column
                        a.btn.btn_secondary.btn--full(href="#") Гостиницы
                    .content_objects__column
                        a.btn.btn_secondary.btn--full(href="#") Объекты инфраструктуры
            .content 
                .news 
                    a.news__item(href="#")
                        .news__item-title Новые субподрядчики
                        .news__item-intro Euismod iaculis at nulla vitae nisl. Id morbi sollicitudin pulvinar purus, luctus massa.
                        .news__item-data 03.03.2022
                    a.news__item(href="#")
                        .news__item-title Завершён объект в вологде
                        .news__item-intro Euismod iaculis at nulla vitae nisl. Id morbi sollicitudin pulvinar purus, luctus massa.
                        .news__item-data 03.03.2022
                    a.news__item(href="#")
                        .news__item-title История калининградского зав...
                        .news__item-intro Euismod iaculis at nulla vitae nisl. Id morbi sollicitudin pulvinar purus, luctus massa.
                        .news__item-data 03.03.2022
                    a.news__item(href="#")
                        .news__item-title Коллаборация с АЭС
                        .news__item-intro Euismod iaculis at nulla vitae nisl. Id morbi sollicitudin pulvinar purus, luctus massa.
                        .news__item-data 03.03.2022
                    a.news__item(href="#")
                        .news__item-title Отличия инфраструктурных реш...
                        .news__item-intro Euismod iaculis at nulla vitae nisl. Id morbi sollicitudin pulvinar purus, luctus massa.
                        .news__item-data 03.03.2022
                    a.news__item(href="#")
                        .news__item-title Инновационные проекты
                        .news__item-intro Euismod iaculis at nulla vitae nisl. Id morbi sollicitudin pulvinar purus, luctus massa.
                        .news__item-data 03.03.2022
            a.content.content_link(href="news.html") Все новости компании
            .content.content__image(style="background-image: url('../img/img-index-page.png');")
block footer