.container {
  width: 100%;
  max-width: map-get($map: $container-max-widths, $key: hd);
  padding-left: ($grid-gutter-width/2);
  padding-right: ($grid-gutter-width/2);
  margin-right: auto;
  margin-left: auto;

}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -($grid-gutter-width/4);
  margin-left: -($grid-gutter-width/4);
}
.no-gutters {
  margin-right: 0;
  margin-left: 0
}
.no-gutters>.col,.no-gutters>[class*=col-] {
  padding-right: 0;
  padding-left: 0
}

// < 1440px
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
  .container {
    max-width: map-get($map: $container-max-widths, $key: xl);
  }
}
// < 1024px
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
  .container {
    max-width: map-get($map: $container-max-widths, $key: lg);
  }
}
// < 768px
@media all and (max-width: map-get($grid-breakpoints, 'md')){
  .container {
    max-width: map-get($map: $container-max-widths, $key: md);
  }
}
// < 576px
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
  .container {
    max-width: map-get($map: $container-max-widths, $key: sm);
  }
}
// < 375px
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
  .container {
    max-width: map-get($map: $container-max-widths, $key: xs);
    padding-left: ($grid-gutter-width/2);
    padding-right: ($grid-gutter-width/2);
  }
  .row{
    margin-right: -($grid-gutter-width/2);
    margin-left: -($grid-gutter-width/2);
  }
  .no-gutters {
    margin-right: 0;
    margin-left: 0
  }
  .no-gutters>.col,.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0
  }
}
