html,body {
    font-size: map-get($font-size, 'md');
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;

    &.hidden{
        overflow: hidden;
    }
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

.hidden{
    overflow: hidden;
}

p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;

    &:last-child{
        margin-bottom: 0;
    }
}
ol, ul{
    padding: 0;
    padding-left: 1em;
    margin-bottom: $paragraph-margin-bottom;

    &:last-child{
        margin-bottom: 0;
    }
}
a{
    display: inline-block;
    outline: none;
    transition: .3s;

    color: $link-color;

    &:hover {
        color: $link-hover-color;
        outline: none;
    }
    &:focus {
        outline: none;
    }
}
.link-inverse{
    color: $link-hover-color;

    &:hover {
        color: $link-color;
    }
}
table{
    td{
        padding: 8px 15px;
    }
}

.bg-black{background-color: $black;}
.bg-white{background-color: $white;}
.bg-grey{background-color: $grey;}

.text-white{color: $white;}
.text-black{color: $black;}

.p-relative {position: relative;}
.p-sticky   {position: sticky; top: 0; left: 0; z-index: 101;}
.p-absolute {position: absolute; top: 0; left: 0; z-index: 101;}

.text-uppercase{text-transform: uppercase;}
.text-underline{text-decoration: underline;}

.text-bolder        {font-weight: $font-weight-bolder;}
.text-bold,strong,b {font-weight: $font-weight-bold;}

.text-small,small,.small    {font-size: 0.85rem;}
.text-smaller               {font-size: 0.9rem;}
.text-lead,.lead            {font-size: 1.25rem;}

.text-spacing{letter-spacing: $letter-spacing;}

.text{
    &-right{text-align: right;}
    &-center{text-align: center;}
    &-left{text-align: left;}
}

.img-fluid{
    display: block;
    height: auto;
    max-width: 100%;
}

hr, .hr{
    width: 100%;
    height: 1px;
    height: 1px;
    border-bottom: 1px solid $border-color;
}


@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .text-xl{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .text-lg{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){  
    .text-md{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .text-sm{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    html, body {
        font-size: map-get($font-size, 'sm');
    }
    .text-xs{
        &-left{text-align: left;}
        &-center{text-align: center;}
        &-right{text-align: right;}
    }
}