.content_link{
    position: relative;
    overflow: hidden;

    display: block;
    text-align: center;

    padding: map-get($map: $spacers, $key: 3);

    text-transform: uppercase;
    font-size: map-get($map: $font-size, $key: md);
    font-weight: $font-weight-bold;

    &:after{
        display: block;
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;

        width: calc(100% + 100px);
        height: 500px;

        opacity: 0;
        transform: translate(-50%,-50%) scale(0);
        transition: all .4s ease-in-out;

        background-color: $black;
        // border-radius: 50%;
        border-radius: $border-radius;

        z-index: -1;
    }

    &:hover, &:focus{
        text-decoration: none;
        color: $white;

        &:after{
            opacity: 1;
            transform: translate(-50%,-50%) scale(1);
        }
    }
}